
:root {
  --primary-color: #0a4d68;     
  --secondary-color: #088395;   
  --accent1-color: #f0f0f0;     
  --accent2-color: #f2c14e;      

  --heading-font: "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--body-font);
  color: var(--primary-color);
  background-color: #ffffff;
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}


h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 16px;

  display: grid;
  align-items: center;
  grid-template-columns: 150px 1fr;
}

header img {
  width: 120px;
  height: auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

nav ul li a {
  color: var(--accent2-color);
  text-decoration: none;
  font-weight: bold;
}

.hero {
  position: relative;
  text-align: center;
  color: var(--accent1-color);
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: rgba(10, 77, 104, 0.8);
  color: #ffffff;
  font-family: var(--heading-font);
}


.hero article {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 60%;
  margin: 20px auto;
  padding: 12px;
  border-radius: 10px;
  position: absolute;
}

.hero article img {
  width: 125px;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}


.hero article::after {
  content: "";
  display: block;
  clear: both;
}


footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

footer .socialmedia{
  display: flex;
  gap: 12px;
}

footer .socialmedia img{
  width: 40px;
}

footer p {
  margin-bottom: 10px;
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 40px;
  margin: 0 10px;
}

section.history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin: 32px 16px;
}

.adventures {
  margin: 40px 16px;
}

.adventures h2 {
  text-align: center;
  margin-bottom: 20px;
}

.adventure-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}

.adventure-gallery figure {
  text-align: center;
}

.adventure-gallery img {
  width: 100%;
  border-radius: 6px;
}
