* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --text-color: #333;
    --background-light: #eee;
    --border-color: #000;
    --shadow-color: gray;
    --padding-small: 2px;
    --padding-medium: 10px;
    --padding-large: 20px;
    --aside-width: 20rem;
    --main-max-width: 840px;
    --font-main: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--font-main);
}

nav {
    background-color: var(--primary-color);
    padding: var(--padding-medium);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding-large);
}

h1 {
    color: var(--primary-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: var(--padding-small);
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: 0;
}

main {
    max-width: var(--main-max-width);
}

aside {
    width: var(--aside-width);
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--background-light);
    color: var(--text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: var(--padding-small);
    box-shadow: 0 0 30px var(--shadow-color);
    float: right;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}


/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}